<style>

</style>

<div>

</div>

<div class="row">
    <div class="col-lg-6" style="display: flex; align-items: center; justify-content: center;">

        <div>
            <img src="../../../assets/images/Hearti_Health_logo.png" alt="" style="width: 10rem;">
        </div>

    </div>

    <div class="col-lg-6">
        <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
            <h1 class="title" id="title">Login</h1>
            <p class="sub-title">Hello! Login with your email.</p>

            <div class="form-group">
                <label for="email" class="label" id="emailLabel">Email </label>
                <input [class.redborder]='submitted && email.invalid' type="text" nbInput fullWidth placeholder="Email" formControlName="email" id="inputEmail">
                <div *ngIf="submitted && email.invalid && email.errors.required" class="alert-danger"><span class='ml-2'>* Enter the Email</span></div>
                <div *ngIf="submitted && email.invalid && email.errors.email" class="alert-danger"><span class='ml-2'>* Enter the Valid Email</span></div> 
            </div>

            <div class="form-group">
                <label for="password" class="label" id="passwordLabel">Password</label>
                <input  [class.redborder]='submitted && password.invalid' type="password" nbInput fullWidth placeholder="Password" formControlName="password" id="inputPassword">
                <div *ngIf="password.invalid && submitted" class="alert-danger"><span class='ml-2'>* Enter the Password</span></div> 
            </div>

            <button  nbButton size="medium" shape="semi-round" style="display: block; margin:auto;" id="loginBtn">Login</button>
        </form>

        <div class="register-btn-contain" style="margin-top: 10px;">
            Don't have an account?
            <a href="/register" class="text-link" id="resgisterLink">Register</a>
        </div>
    </div>


</div>